body {
    background-color: #20b7e8;
}

h1 {
    color:gray;
    font-size: 36pt;
    text-align: center;
}

h3 {
    font-size: 28pt;
    padding-top: 10px;
}

#bio {
    background-color: gray;
    color: whitesmoke;
    padding-left: 10px;
    font-size: 14pt;
}

#education {
    background-color: gray;
    color: whitesmoke;
    padding-left: 10px;
    font-size: 14pt;
}

#experience {
    background-color:gray;
    color: whitesmoke;
    padding-left: 10px;  
    font-size: 14pt;
}

#goals {
    background-color: gray;
    color: whitesmoke;
    font-size: 14pt;
    padding-left: 10px;
}

#topten {
    background-color:gray;
    color: whitesmoke;
    font-size: 14pt;
    padding-left: 10px;
}

.sMedia {
    display: inline;
    list-style-type: none;
    text-align: center;
}