body {
    background-color: grey;
    font-family: 'Courier New', Courier, monospace
}

h1 {
    color: navy;
    font-size: 60px;
    text-align: center;
    padding: 30px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
}

#bio {
    background-color: greenyellow;
    color: navy;
    font-weight: bold;
    padding-left: 10px;
}

#education {
    background-color: navy;
    color: greenyellow;
    font-weight: bold;
    padding-left: 10px;
}

#experience {
    background-color: greenyellow;
    color: navy;
    font-weight: bold;
    padding-left: 10px;
}

#goals {
    background-color: navy;
    color: greenyellow;
    font-weight: bold;
    padding-left: 10px;
}

#topten {
    background-color: greenyellow;
    color: navy;
    font-weight: bold;
    padding-left: 10px;
}

ol li{
    list-style-type: disc;
    list-style-position: inside;
}

ul li{
    list-style-type: disc;
    list-style-position: inside;
}

footer{
    height: 100px;
    background-color: limegreen;
}